/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
/* ============ Google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ===================================== */

/* ============== CSS VARIABLES ======== */
:root {
  --main-color: #fff;
  --second-color: #425664;
  --third-color: #f6f4f2;
  --fourth-color: #c6ad8f;
}

/* ===================================== */

/* ============== CSS Reset ============ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ===================================== */

/* ============ Base styles ============ */
body,
html {
  background: var(--main-color);
  min-height: 100vh;
  width: 100%;
  /* overflow-x: hidden; */
  color: var(--second-color);
  font-family: "Raleway", sans-serif;
  word-break: normal;
}
html {
  position: relative;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 10px;
}
a {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: var(--fourth-color);
}
h1 {
  font-size: 3.5vw;
}

ul {
  margin: 0;
}
P {
  word-break: normal;
}
.container {
  box-shadow: 0.7rem 0.7rem 0.7rem rgba(198, 173, 143, 0.341);
  border-radius: 15px;
}
.modal-dialog {
  z-index: 999999999;
}

label {
  font-weight: bold;
  display: block;
}
select.form-control {
  background-color: transparent;
}

input[type="text"],
input[type="password"] {
  border: none;
  padding-left: 15px;
  background: transparent;
  border-bottom: 1px solid black;
  border-radius: 15px;
}
input[type="number"] {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
}
input[type="file"] {
  border: none;
  background-color: transparent;
}
.text-responsive {
  font-size: 3vmin;
}

input[type="text"]:active,
input[type="password"]:active,
input[type="text"]:focus,
input[type="text"]:active,
input[type="text"]:focus,
input[type="file"]:active,
input[type="file"]:focus,
input[type="password"]:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
}
.thumb {
  cursor: pointer;
}
.form-control:focus {
  border-color: var(--fourth-color);
}
hr {
  border: none;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before,
.separator::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #000;
}
.separator::before {
  margin-right: 0.25em;
}
.separator::after {
  margin-left: 0.25em;
}
.btn {
  font-size: 85%;
  white-space: nowrap;
}

.btn-secondary {
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
  background-color: var(--fourth-color);
  border-radius: 20px;
  color: var(--main-color);
}
#gg-btn {
  filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
  border-radius: 20px;
}
#gg-btn:hover {
  background-color: var(--fourth-color);
}

.v-separator {
  border-left: 1px dotted black;
}

​ .no-filter {
  filter: none;
  box-shadow: none;
}
.btn:hover {
  transform: scale(0.98);
}
.alert {
  margin: 0.25rem auto 0 auto;
  border: 1px solid transparent;
  border-radius: 1.5rem;
  width: 70%;
  text-align: center;
  margin-top: 0.25rem;
}
.no-radius {
  filter: none;
  border-radius: 0px;
  color: var(--main-color);
}
.custom-bg {
  background-color: var(--third-color);
}
/* - navbar
----------------------- */
.logo-container img {
  width: 70px;
  height: 55px;
}

.fa-shopping-cart {
  color: var(--fourth-color);
}
/* - carousel
---------------------- */
.carousel-item {
  height: 50vh;
  min-height: 350px;
}
.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.carousel-item .text-box {
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.7);
  padding: 10px;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 15%;
  right: 15%;
  color: #fff;
  text-align: center;
  transform: translateY(-50%);
}

/* -----Login ------ */
.overlay {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../img/login/signup.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  float: left;
  border-radius: 0px 20px 20px 0px;
}
.login > * {
  color: white;
  margin: 0;
  margin-bottom: 0.5rem;
}
/* ----------profile page------------- */

#profile-page .image-container .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

#profile-page .image-container:hover .image {
  opacity: 0.3;
}

#profile-page .btn-primary {
  color: var(--main-color);
  background-color: var(--fourth-color);
  border: none;
}
#profile-page .btn-primary:focus {
  box-shadow: none;
}
#user.dropdown {
  position: relative;
  z-index: 1000;
}
.details-label {
  font-weight: bold;
}

.userData h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
.btn-outline-secondary {
  color: black;
}
/* --------Item details-------------- */
.pro-details .nav-item {
  height: 50px;
}
.header-navigation {
  margin: 0;
  padding: 0;
}

/* - 404 and 500 error pages
--------------------------*/
.error-wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.error-wrapper .error {
  text-align: center;
  font-weight: 700;
  font-size: 5rem;
}

.error-wrapper .info {
  font-size: 1rem;
}

.home-btn,
.home-btn:focus,
.home-btn:hover,
.home-btn:visited {
  color: var(--second-color);
  border: 1px solid var(--fourth-color);
  border-radius: 3px;
  display: block;
  margin: 10% 0;
  min-width: 100%;
  background-color: transparent;
  outline: 0;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: var(--second-color);
  color: var(--main-color);
  border-color: var(--main-color);
}

.man-icon {
  background: url("https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg")
    center center no-repeat;
  display: inline-block;
  height: 100px;
  width: 118px;
  margin-bottom: 1rem;
}

/*-------Index page----------*/

.item.list-group-item {
  float: none;
  width: 100%;
  margin-bottom: 1rem;
  flex: 0 0 100%;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
}
.item.list-group-item .img-event {
  float: left;
}

.pagination {
  flex-wrap: wrap;
}

.item.list-group-item .list-group-image {
  margin-right: 0.6rem;
  width: 30%;
}
.item.list-group-item .img-thumbnail {
  width: 150px;
  height: 150px;
}
.item.list-group-item .caption {
  float: left;
  width: 70%;
  margin: 0;
}

.item.list-group-item:before,
.item.list-group-item:after {
  display: table;
  content: " ";
}

.item.list-group-item:after {
  clear: both;
}
/* Settings page */
.nav-tabs .nav-link.active {
  background-color: var(--fourth-color);
  color: var(--main-color);
}

/* =============TABLET STYLES======================= */

@media screen and (min-width: 500px) {
  /* applies to screens wider than 499px */
}

/* =================== DESKTOP STYLES =============== */

@media screen and (min-width: 1000px) {
  /* applies to screens wider than 999px */

  /* -Navbar
  -------------- */
  .navbar .navbar-links {
    display: grid;
    grid-column: 2;
    grid-row: 1;
    grid-auto-flow: column;
  }

  .navbar .navbar-links a {
    background-color: var(--third-color);
  }

  .navbar .navbar-links a:hover,
  .navbar .brand a:hover {
    color: var(--fourth-color);
    opacity: 0.6;
  }

  .navbar div#toggle-button {
    display: none;
  }

  .navbar .navbar-links.active a {
    padding: 0;
  }
}
