/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
/* ============ Google fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
/* ===================================== */

/* ============== CSS VARIABLES ======== */
:root {
	--main-color: #fff;
	--second-color: #425664;
	--third-color: #f6f4f2;
	--fourth-color: #c6ad8f;
}

/* ===================================== */

/* ============== CSS Reset ============ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

/* ===================================== */

/* ============ Base styles ============ */
body,
html {
	background: var(--main-color);
	min-height: 100vh;
	width: 100%;
	/* overflow-x: hidden; */
	color: var(--second-color);
	font-family: "Raleway", sans-serif;
}

a {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	color: var(--second-color);
	border-bottom: 0.1rem var(--second-color) solid;
}
ul {
	margin: 0;
}
P {
	margin: 0;
	padding: 0;
}
.form-bttn {
	padding: 0.7rem 1rem;
	background-color: var(--fourth-color);
	border-radius: 20px;
	max-width: 50%;
	color: var(--main-color);
	filter: drop-shadow(5px 5px 1px rgba(0, 0, 0, 0.25));
	cursor: pointer;
	text-transform: uppercase;
	display: block;
	text-align: center;
	border: none;
	white-space: nowrap;
	overflow: hidden;
	font-size: 0.8rem;
	text-overflow: clip;
}

.form-bttn:hover {
	background-color: var(--main-color);
	color: var(--second-color);
	transform: translateX(13px);
}

.btn {
	overflow: hidden;
	font-size: 0.8rem;
	text-overflow: clip;
	background-color: var(--fourth-color);
	color: var(--main-color);
	border-radius: 20px;
}

.btn:hover {
	background-color: var(--main-color);
	color: var(--second-color);
	transform: none;
}

nav-item {
	text-align: center;
}

input,
select {
	display: block;
	height: 2.5rem;
	width: 70%;
	margin: 0.5rem auto;
	border: none;
	padding-left: 15px;
	background: transparent;
	border-bottom: 1px solid black;
	border-radius: 15px;
}

textarea {
	width: 70%;
	margin: 0.5rem auto;
	display: block;
	padding-left: 15px;
}
input[type="file"] {
	border-radius: 0;
	padding-left: 0;
	width: 70%;
	margin: 0.5rem auto;
	border-bottom: none;
}

input:hover,
input:active,
select:active,
select:focus,
textarea:active,
textarea:focus,
input:active,
input:focus {
	color: var(--second-color);
	outline: none;
	border-bottom: 1.5px solid var(--fourth-color);
	transform: translateY(2px);
}

/* bootstrap form alert styles */
.invalid-feedback {
	display: block;
	width: 70%;
	margin: 0.25rem auto 0 auto;
	font-size: 80%;
	color: #dc3545;
}
.alert-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 0.25rem;
}
.alert {
	padding: 0.3rem 0.5rem;
	margin: 0 auto;
	border: 1px solid transparent;
	border-radius: 1.5rem;
	width: 70%;
	text-align: center;
	margin-top: 0.25rem;
}

/* - Website layout
 -----------------------*/
.layout {
	min-height: 100vh;
	display: grid;
	grid-template-rows: auto 1fr auto;
}

/* - Home page layout
-------------------- */

.homepage {
	max-width: 100vw;
	min-height: 100%;
	display: grid;
	grid-template-columns: minmax(0, 1fr) minmax(0, 3fr);
	gap: 1rem;
	grid-template-areas:
		"search search"
		"slider slider"
		"cat items"
		"cat items";
}
.homepage h1 {
	max-width: 100%;
}

.search {
	grid-area: search;
}

.categories {
	grid-area: cat;
}

.slider {
	grid-area: slider;
}

/* slider */

/* - NavBar
---------------------- */

.navbar {
	background: var(--third-color);
	width: 100vw;
	display: grid;
	position: sticky;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

.navbar .navbar-links {
	display: none;
	align-items: center;
	justify-items: center;
	grid-row: 2;
	grid-column: 1 / span 2;
	position: relative;
}

.navbar .navbar-links a {
	width: 100%;
	text-align: center;
	height: 100%;
	background-color: var(--main-color);
}

.navbar .navbar-links a:hover {
	color: var(--fourth-color);
}

.navbar div#toggle-button {
	display: grid;
	justify-items: end;
	align-items: center;
	grid-column: 2;
	grid-row: 1;
	cursor: pointer;
}

.navbar .brand {
	display: grid;
	align-items: center;
	padding-left: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	grid-column: 1;
	grid-row: 1;
}

.navbar .navbar-links.active {
	display: grid;
}

.navbar .navbar-links.active a {
	padding: 1.5rem;
}

/* - Login page
---------------------- */
.page-container {
	min-width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.page-container .bg-form {
	background-color: var(--third-color);
	min-width: 70%;
	height: 80%;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	grid-template-areas:
		"pic signup"
		"inputs signup";
	justify-content: center;
	margin: 1rem 0 1rem 0;
	box-shadow: 0.7rem 0.7rem 0.7rem rgba(198, 173, 143, 0.341);
}

.page-container .bg-form .login-avatar {
	max-width: 25%;
	grid-area: pic;
	align-self: center;
	justify-self: center;
	margin-top: 0.5rem;
}

.page-container .bg-form .login-avatar img {
	width: 100%;
}

.page-container .bg-form .custom-inputs {
	grid-area: inputs;
}

.page-container .bg-form .custom-inputs h3 {
	text-transform: uppercase;
	text-align: center;
}

.page-container .bg-form .custom-inputs hr {
	border: none;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.page-container .bg-form .custom-inputs small {
	text-align: center;
	display: block;
	max-width: 100%;
}

.page-container .bg-form .custom-inputs > * {
	margin: 1rem 0;
}

.page-container .bg-form .custom-inputs div label {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.page-container .bg-form .custom-inputs .custom-check {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-wrap: nowrap;
	width: 70%;
	margin: auto;
}

.page-container .bg-form .custom-inputs .custom-check .custom-check-input {
	order: 1;
	height: 1rem;
	max-width: 10%;
	margin: 0;
}

.custom-check-input:hover,
.custom-check-input:focus,
.custom-check-input:active:focus {
	transform: none;
}

.page-container .bg-form .custom-inputs .custom-check .custom-check-label {
	order: 2;
	max-width: 100%;
	margin: 0 0 0 0.25rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.page-container .bg-form .signup-banner {
	grid-area: signup;
	background-image: url("../img/login/signup.jpg");
	border-radius: 0px 20px 20px 0px;
	background-size: cover;
	opacity: 0.8;
	height: 100%;
	max-width: 100%;
	color: var(--main-color);
	text-align: center;
	align-self: center;
	display: grid;
	align-content: center;
	justify-items: center;
}

.signup-banner > * {
	margin: 0.5rem;
}

/* - Register page
---------------------- */
#register .bg-form {
	background-color: var(--third-color);
	min-width: 50%;
	min-height: 95%;
	border-radius: 20px;
	display: grid;
	grid-template-columns: 1fr;
}
.container {
	background-color: var(--third-color);
	margin-top: 0.5rem;
	box-shadow: 0.7rem 0.7rem 0.7rem rgba(198, 173, 143, 0.341);
}
/* ----------profile page------------- */

.card-body {
	background-color: var(--third-color);
	box-shadow: 0.7rem 0.7rem 0.7rem rgba(198, 173, 143, 0.341);
}

#profile-page .image-container .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: auto;
	transition: 0.5s ease;
	backface-visibility: hidden;
}

#profile-page .image-container:hover .image {
	opacity: 0.3;
}

#profile-page .btn-primary {
	color: var(--main-color);
	background-color: var(--fourth-color);
	border: none;
}
#profile-page .btn-primary:focus {
	box-shadow: none;
}
.details-label {
	font-weight: bold;
}

.userData h2 {
	font-size: 1.5rem;
	font-weight: bold;
}
/* Listing details */
.pro-details .nav-item {
	height: 50px;
}

/* - 404 and 500 error pages
--------------------------*/
.error-wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.error-wrapper .error {
	text-align: center;
	font-weight: 700;
	font-size: 5rem;
}

.error-wrapper .info {
	font-size: 1rem;
}

.home-btn,
.home-btn:focus,
.home-btn:hover,
.home-btn:visited {
	color: var(--second-color);
	border: 1px solid var(--fourth-color);
	border-radius: 3px;
	display: block;
	margin: 10% 0;
	min-width: 100%;
	background-color: transparent;
	outline: 0;
}

.btn-primary:not(:disabled):not(.disabled):active {
	background-color: var(--second-color);
	color: var(--main-color);
	border-color: var(--main-color);
}

.man-icon {
	background: url("https://www.hotstar.com/assets/b5e748831c911ca02f9c07afc11f2ae5.svg") center center no-repeat;
	display: inline-block;
	height: 100px;
	width: 118px;
	margin-bottom: 1rem;
}

/* item page */

.header-navigation {
	margin: 0;
	padding: 0;
}

/* =============TABLET STYLES======================= */

@media screen and (min-width: 500px) {
	/* applies to screens wider than 499px */
	input {
		width: 100%;
	}
	input[type="text"],
	input[type="password"] {
		width: 70%;
	}
}

/* =================== DESKTOP STYLES =============== */

@media screen and (min-width: 1000px) {
	/* applies to screens wider than 999px */

	/* -Navbar
  -------------- */
	.navbar .navbar-links {
		display: grid;
		grid-column: 2;
		grid-row: 1;
		grid-auto-flow: column;
	}

	.navbar .navbar-links a {
		background-color: var(--third-color);
	}

	.navbar .navbar-links a:hover,
	.navbar .brand a:hover {
		color: var(--fourth-color);
		opacity: 0.6;
	}

	.navbar div#toggle-button {
		display: none;
	}

	.navbar .navbar-links.active a {
		padding: 0;
	}
	/* slider */
}
