{% extends "layout.html" %}
{% block app_content %}

<div class="container custom-bg my-4">
  <div class="row justify-content-center">
    <h1 class="col-12 text-center my-3">
      {{ item.title.capitalize() }}
    </h1>
  </div>
  <hr>
  <div class="row justify-content-center">
    <div class="col-12 col-sm-6 my-4" aria-labelledby="item-picture">
      <div class="row justify-content-center">
        <img class="img-fluid w-50" src="{{url_for('static', filename='img/items/' + item.image_file[0])}}"
          alt="{{item.title}}">
      </div>
      <div class="row my-4">
        {% if item.image_file[1] in item.image_file %}
        <div class="col-4">
          <img class="img-fluid" src="{{url_for('static', filename='img/items/' + item.image_file[1])}}"
            alt="{{item.title}}">
        </div>
        {%endif%}
        {% if item.image_file[2] in item.image_file %}
        <div class="col-4">
          <img class="img-fluid" src="{{url_for('static', filename='img/items/' + item.image_file[2])}}"
            alt="{{item.title}}">
        </div>
        {%endif%}
        {% if item.image_file[3] in item.image_file %}
        <div class="col-4">
          <img class="img-fluid" src="{{url_for('static', filename='img/items/' + item.image_file[3])}}"
            alt="{{item.title}}">
        </div>
        {%endif%}
      </div>
    </div>
    <div class="col-12 col-sm-6 my-4">
      <div class="row">
        <p class="text-capitalize col-md-4">
          <i class="fas fa-map-marker-alt"></i> {{item.item_city }}
        </p>
        <p class="col-md-4">
          {{item.item_views}} views
        </p>
        <p class="col-md-4">
          <a href="{{url_for('user', username=item.seller.username)}}" class="text-capitalize" alt="{{item.title}}">
            <strong>{{ item.seller.username }} </strong>
          </a>
        </p>
      </div>
      <hr>
      <div class="row">
        <div class="col-12">
          <h4>
            <strong>Price:</strong> £ {{ item.price }}
          </h4>
          <p class="my-2">
            <strong>Posted:</strong> {{ moment(item.created_at).fromNow() }}
          </p>
          <p>
            <strong>Condition:</strong> {{ item.condition }}
          </p>
          <p class="my-2">
            <b class="d-block">Description</strong>{{ item.description }}
          </p>
        </div>
      </div class="row">
    </div>
  </div>
</div>
{% endblock app_content %}