<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{% if title %}
			<title>FYP - {{ title }}</title>
		{% else %}
			<title>FYP</title>
		{% endif %}
		
		<link rel="stylesheet" id="bootstrap-css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='css/styles.css') }}"
		/>
	</head>

	<body>
		<div class="layout">
			<header>
				<nav class="navbar">
					<div class="brand-name"><a href="{{ url_for("index") }}">Brand Name</a></div>
					<div class="hamb-menu">
						<span class="bar"></span>
						<span class="bar"></span>
						<span class="bar"></span>
					</div>
					<div class="navbar-links">
						<ul>
							<li>
								<a href="{{ url_for("index") }}">Home</a>
							</li>
							<li>
								<a href="#">Contact</a></li>
							<li>
								<a href="{{ url_for("about") }}">About</a>
							</li>
							{% if current_user.is_authenticated %}
								<li>
									<a href="{{ url_for("user", user_id=current_user.id) }}">Account</a>
								</li>
								<li>
									<a href="{{ url_for("logout") }}">Logout</a>
								</li>
							{% else %}
								<li>
									<a href="{{ url_for("register") }}">Register</a>
								</li>
								<li>
									<a href="{{ url_for("login") }}">Login</a>
								</li>

							{% endif %}
				

						</ul>
					</div>
				</nav>
			</header>
			<main>
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
						{% for category, message in messages %}
						<div class="alert-container">
							<div class="alert alert-{{category}}">
								<p>{{message}}</p>
							</div>
						</div>
						{% endfor %}
					{% endif %}
				{%endwith%}
				{% block content %} 

				{% endblock content %}
			</main>

			<footer>
				<h1>Footer</h1>
			</footer>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
	</body>
</html>
