{% extends "layout.html" %} {% block content %}
<div class="container mt-2">
	<div class="row align-content-start">
		<div class="col-md-7 pt-4 pb-4">
			<div class="row justify-content-center mt-4">
				<div class="w-25">
					<img
						class="img-fluid img-thumbnail mb-3 rounded-circle"
						src="{{ url_for('static', filename='img/login/avatar.png') }}"
						alt="loginImage"
					/>
					<h3 class="text-uppercase text-center">Login</h3>
                    <hr>
                </div>
			</div>
			<form method="POST">
				{{form.hidden_tag()}}
				<div class="form-group">
                    {{form.email.label}}
                    
                    {%if form.email.errors %} 
                    {{form.email(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.email.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.email (class="form-control",placeholder="Enter email")}} 
                    {%endif%}
				</div>
				<div class="form-group">
                    {{form.password.label}}
                    
                    {%if form.password.errors %} 
                    {{form.password(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.password.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.password (class="form-control",placeholder="Enter email")}} 
                    {%endif%}
				</div>
				<div class="form-group form-check">
                    {{form.remember_me(class="form-check-input")}}
                    {{form.remember_me.label(class="form-check-label")}}
                </div>
                    <small>
                        <a class="text-muted" href="#"> Forgot your password? </a>
                    </small>
				<div class="row justify-content-center">
					{{form.submit(class="btn btn-secondary w-25")}}
				</div>
			</form>
		</div>
		<div class="col-md-5 p-0">
			<div class="overlay login d-flex flex-column justify-content-center align-items-center">
                <h2>New here?</h2>
                <p class="text-center">Sign up and discover great opportunities!</p>
                <a class="btn btn-secondary" href="{{ url_for("register") }}">Sign up</a>
            </div>              
		</div>
	</div>
</div>

{% endblock content %}
