{% extends "layout.html" %} 
{% block content %}
<div class="container custom-bg w-50 mt-2">
	<div class="row align-content-start">
		<div class="col pt-4 pb-4">
			<div class="row justify-content-center mt-4">
                <h3 class="text-uppercase text-center">Sign up</h3>
            </div>
            <hr>
			<form method="POST">
				{{form.hidden_tag()}}
				<div class="form-group">
                    {{form.full_name.label}}
                    
                    {%if form.full_name.errors %} 
                    {{form.full_name(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.full_name.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.full_name (class="form-control",placeholder="Enter your full name")}} 
                    {%endif%}
				</div>
				<div class="form-group">
                    {{form.username.label}}
                    
                    {%if form.username.errors %} 
                    {{form.username(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.username.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.username (class="form-control",placeholder="Choose a username")}} 
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.email.label}}
                    
                    {%if form.email.errors %} 
                    {{form.email(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.email.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.email (class="form-control",placeholder="Enter your email")}} 
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.password.label}}
                    
                    {%if form.password.errors %} 
                    {{form.password(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.password.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.password (class="form-control",placeholder="Choose a password")}} 
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.confirm_password.label}}
                    
                    {%if form.confirm_password.errors %} 
                    {{form.confirm_password(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.confirm_password.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.confirm_password (class="form-control",placeholder="Confirm your password")}} 
                    {%endif%}
                </div>
                <div class="form-group">
                    {{form.location.label}}
                    
                    {%if form.location.errors %} 
                    {{form.location(class="form-control is-invalid")}}
					<div class="invalid-feedback">
						{%for mistake in form.location.errors %}
						    <span>{{ mistake }}</span>
						{%endfor%}
					</div>
                    {%else%} 
                        {{form.location (class="form-control",placeholder="Plese insert your city")}} 
                    {%endif%}
				</div>
				<div class="form-group form-check">
                    {{form.seller(class="form-check-input")}}
                    {{form.seller.label(class="form-check-label")}}
                </div>
                    <small>
                        <p class="text-muted">Already a member?</p><a class="text-muted" href="{{ url_for("register") }}"> Sign in </a>
                    </small>
				<div class="row justify-content-center">
					{{form.submit(class="btn btn-secondary w-25")}}
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock content %}
