{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block app_content %}
<div class="container custom-bg my-4">
  <div class="row justify-content-center py-4">
    <form method="POST" class="py-4 col-6">
      {{form.hidden_tag()}}
      <h2 class="mb-3 text-center">Reset Password</h2>
      <hr>
      <div class="form-group col-12">
        {{wtf.form_field(form.email, class="form-control",placeholder="Enter your email")}}
        {% for error in form.errors.email %}
        <div class="text-danger">{{error}}</div>
        {% endfor %}
      </div>
      <div class="form-row justify-content-center">
        {{wtf.form_field(form.submit, class="btn btn-block btn-secondary col-5")}}
      </div>
    </form>
  </div>
</div>
{% endblock app_content %}