{% extends "layout.html" %}
{% block app_content %}

<div class="row">
    <div class="col-lg-12 my-3">
        <div class="float-right mr-3">
            <div class="btn-group">
                <button class="btn btn-secondary" id="list">
                    List View
                </button>
                <button class="btn btn-secondary" id="grid">
                    Grid View
                </button>
            </div>
        </div>
    </div>
</div>
<div id="products" class="row view-group w-75 mx-auto">
    {%for item in available_items %}
    <div class=" item col-sm-12 col-md-4 py-2">
        <div class="card custom-bg h-100">
            <div class="card-body">
                <img class="img-fluid card-img-top group list-group-image img-event" src="" alt="" />
                <h3 class="card-title list-group-item-heading font-weight-bold "></h3>
                <small class="d-block font-weight-bold card-text">
                    <a href="">
                    </a>
                </small>
                <small class="card-text">{{current_user.username}}<h6></h6></small>
                <small class="card-text">
                    <h6>aaaaaaaaaa</h6>
                </small>
                <a href="" class="btn btn-secondary mt-2">
                    Details
                </a>
            </div>
        </div>
    </div>
    {%endfor%}
</div>
{% endblock app_content %}