{% extends "layout.html" %}
{%block app_content%}
<div id="profile-page">
  <div class="row mt-4 mb-4">
    <div class="card custom-bg col-12 col-md-10 mx-auto">
      <div class="card-body">
        <div class="card-title mb-4">
          <div class="row justify-content-start">
            <div class="image-container col-5 col-md-3">
              <div class="image">
                <img src="{{url_for('static', filename='img/profile/' + user.image_file)}}" id="imgProfile"
                  class="img-thumbnail rounded-circle" />
              </div>
            </div>
            <div class="userData col-5 ml-3">
              <h2 class="d-block">
                <a href="#">{{ user.username.capitalize() }}</a>
              </h2>
              <p class="mb-2">
                <span class="font-weight-bold">
                  {{ user.followers.count() }}
                </span>
                followers
              </p>
              <p>
                <span class="font-weight-bold">
                  {{ user.followed.count() }}
                </span>
                following.
              </p>
              <div>
              {% if average %}
                <strong class="mb-4" data-score="{{ average }}">Rating:</strong> ({{ average }})
              {% endif %}
              </div>
              <!-- follower system -->
              {% if not current_user.is_following(user) %}
              <p>
                <a class="btn btn-outline-secondary no-radius"
                  href="{{ url_for('follow', username=user.username) }}">Follow</a>
              </p>
              {% else %}
              <p>
                <a class="btn btn-outline-secondary no-radius"
                  href="{{ url_for('unfollow', username=user.username) }}">Unfollow</a>
              </p>
              {% endif %}
              <!-- end follower system -->
            </div>

          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
              <!-- nav tabs -->

              <!-- this information is displayed to the public -->
              <li class="nav-item active">
                <a class="nav-link active" id="basic-info-tab" data-toggle="tab" href="#basic-info" role="tab"
                  aria-controls="basic-info" aria-selected="true">User</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="live-items-tab" data-toggle="tab" href="#live-items" role="tab"
                  aria-controls="live-items" aria-selected="false">Active Listings</a>
              </li>

              {% if current_user.id == user.id %}
              <!-- user can see items being sold by people they follow -->
              <li class="nav-item active">
                <a class="nav-link" id="following-tab" data-toggle="tab" href="#following" role="tab"
                  aria-controls="edit-info" aria-selected="false">Watching</a>
              </li>
              <!-- sellers can see their own sales -->
              <li class="nav-item">
                <a class="nav-link" id="sold-items-tab" data-toggle="tab" href="#sold-items" role="tab"
                  aria-controls="sold-items" aria-selected="false">Sold</a>
              </li>
              {%endif%}
            </ul>
            <!-- tab panels -->
            <div class="tab-content ml-1" id="tabContent">

              <!-- Info panel -->
              <div class="tab-pane fade show active" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
                <hr>
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label ">Member since</label>
                    </div>
                    <div class=" col-md-8 col-6">
                      {{ moment(user.created_at).format('LLLL') }}
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col-sm-3 col-md-2 col-5">
                    <label ">Listed products</label>
                    </div>
                    <div class=" col-md-8 col-6">
                      {{ user_items_count }} times
                  </div>
                </div>
              </div>
              <!-- active panel -->
              <div class="tab-pane fade" id="live-items" role="tabpanel" aria-labelledby="live-items-tab">
                <hr>
                <div class="row">
                  <div class="col-12">
                    <div id="products" class="row view-group w-75 mx-auto">
                      <!-- recent items first-->
                      {% for item  in user_items_active %}
                      <div class="item col-sm-12 col-md-3 py-2 list-group-item custom-bg">
                        <div class="card custom-bg h-100">
                          <div class="card-body">
                            <img class="img-fluid w-25 card-img-top group list-group-image img-event "
                              src="{{url_for('static', filename='img/items/' + item.image_file)}}"
                              alt="{{item.title}}" />
                            <h3 class="card-title list-group-item-heading font-weight-bold ">
                              {{ item.title }}</h3>
                            <small class="d-block">
                              <strong>Date posted:</strong>
                              {{ moment(item.created_at).format('LLLL') }}
                            </small>
                            <a href="{{url_for('item', item_id=item.id)}}" class="btn btn-secondary mt-5">
                              Details
                            </a>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                      <nav aria-label="Page navigation" class="col-12 my-2">
                        <ul class="pagination justify-content-center">
                          <li class="page-item {% if not prev_url_active %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url_active }}" tabindex="-1">Previous</a>
                          </li>
                          {% for num in page_num2 %}
                          {% if num %}
                          <li class="page-item {% if page == num %} active {% endif %}"><a class="page-link"
                              href="{{url_for('user', username=current_user.username, page=num)}}">{{ num }}</a></li>
                          {% else %}
                          <span class="page-item ellipsis">…</span>
                          {% endif %}
                          {% endfor %}
                          <li class="page-item {% if not next_url_active %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url_active }}">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Sold panel -->
              <div class="tab-pane fade" id="sold-items" role="tabpanel" aria-labelledby="sold-items-tab">
                <hr>
                <div class="row">
                  <div class="col-12">
                    <div id="products" class="row view-group w-75 mx-auto">
                      <!-- recent items first-->
                      {% for item in user_items_sold %}
                      <div class="item col-sm-12 col-md-3 py-2 list-group-item custom-bg">
                        <div class="card custom-bg h-100">
                          <div class="card-body">
                            <img class="img-fluid w-25 card-img-top group list-group-image img-event "
                              src="{{url_for('static', filename='img/items/' + item.image_file)}}"
                              alt="{{item.title}}" />
                            <h3 class="card-title list-group-item-heading font-weight-bold ">
                              {{ item.title }}</h3>
                            <small class="d-block">
                              <strong>Date posted:</strong>
                              {{ moment(item.created_at).format('LLL') }}
                            </small>
                            <small class="d-block">
                              <a href="{{url_for('user', username=current_user.username)}}">
                                {{ item.seller.username }}
                              </a>
                            </small>
                            <a href="{{url_for('item', item_id=item.id)}}" class="btn btn-secondary mt-2">
                              Details
                            </a>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                      <nav aria-label="Page navigation" class="col-12 my-2">
                        <ul class="pagination justify-content-center">
                          <li class="page-item {% if not prev_url_sold %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url_sold }}" tabindex="-1">Previous</a>
                          </li>
                          {% for num in page_num1 %}
                          {% if num %}
                          <li class="page-item {% if page == num %} active {% endif %}"><a class="page-link"
                              href="{{url_for('user', username=user.username, page=num)}}">{{ num }}</a></li>
                          {% else %}
                          <span class="page-item ellipsis">...</span>
                          {% endif %}
                          {% endfor %}
                          <li class="page-item {% if not next_url_sold %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url_sold }}">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
              <!-- following panel -->
              <div class="tab-pane fade" id="following" role="tabpanel" aria-labelledby="following-tab">
                <hr>
                <div class="row">
                  <div class="col-12">
                    <div id="products" class="row view-group w-75 mx-auto">
                      <!-- recent items first-->
                      {% for item in items_following %}
                      <div class="item col-sm-12 col-md-3 py-2 list-group-item custom-bg">
                        <div class="card custom-bg h-100">
                          <div class="card-body">
                            <img class="img-fluid w-25 card-img-top group list-group-image img-event "
                              src="{{url_for('static', filename='img/items/' + item.image_file)}}"
                              alt="{{item.title}}" />
                            <h3 class="card-title list-group-item-heading font-weight-bold ">
                              {{ item.title }}</h3>
                            <small class="d-block">
                              <strong>Date posted:</strong>
                              {{ moment(item.created_at).format('LLL') }}
                            </small>
                            <small class="d-block">
                              <a href="{{url_for('user', username=item.seller.username)}}">
                                {{ item.seller.username }}
                              </a>
                            </small>
                            <a href="{{url_for('item', item_id=item.id)}}" class="btn btn-secondary mt-2">
                              Details
                            </a>
                          </div>
                        </div>
                      </div>
                      {%endfor%}
                      <nav aria-label="Page navigation" class="col-12 my-2">
                        <ul class="pagination justify-content-center">
                          <li class="page-item {% if not prev_url_following %} disabled {% endif %}">
                            <a class="page-link" href="{{ prev_url_following }}" tabindex="-1">Previous</a>
                          </li>
                          {% for num in page_num %}
                          {% if num %}
                          <li class="page-item {% if page == num %} active {% endif %}"><a class="page-link"
                              href="{{url_for('user', username=current_user.username, page=num)}}">{{ num }}</a></li>
                          {% else %}
                          <span class="page-item ellipsis">...</span>
                          {% endif %}
                          {% endfor %}
                          <li class="page-item {% if not next_url_following %} disabled {% endif %}">
                            <a class="page-link" href="{{ next_url_following }}">Next</a>
                          </li>
                        </ul>
                      </nav>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock app_content %}