{% extends "layout.html" %} 
{%block content%}

<!-- Nav tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link live-items" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info"
            aria-selected="true">info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="live-items-tab" data-toggle="tab" href="#live-items" role="tab" aria-controls="live-items"
            aria-selected="false">active</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="sold-tab" data-toggle="tab" href="#sold" role="tab" aria-controls="sold"
            aria-selected="false">sold</a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane live-items" id="info" role="tabpanel" aria-labelledby="info-tab">...</div>
    <div class="tab-pane" id="live-items" role="tabpanel" aria-labelledby="live-items-tab">...</div>
    <div class="tab-pane" id="sold" role="tabpanel" aria-labelledby="sold-tab">...</div>
</div>

{%endblock%}